
<!-- separate class so central code does not worry about rendering (Security issue) -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" /> 
  <head>
    <meta charset="utf-8">
    <title>Sorting Web App </title>
  </head>
  <body>
    <h1>This is a sorting web app. Click <a href = "https://en.wikipedia.org/wiki/Sorting_algorithm" target="_blank" > here</a> to learn more about sorting algorithms.</h1>
    <p> Below the given input should appear sorted in ascending order </p>
    <h2>Picture of the code</h2>
    <img src = "../test.png" alt="The code" width="200" height="100">
  </body>

</html>